# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log

# Variables sensibles
*.tfvars
*.tfvars.json

# Terraform plans
*.tfplan

# Overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Artefactos
*.zip

# PERMITIR evidencias
!infra/evidence/**
# Terraform local state - now managed remotely
infra/terraform.tfstate
infra/terraform.tfstate.backup